@font-face {
    font-family: 'Excalifont';
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.App-menu_top {
    grid-template-columns: 1fr !important;
}

.excalidraw .App-bottom-bar {
    padding-bottom: var(--safe-area-inset-bottom, env(safe-area-inset-bottom, 0)) !important;
}

.excalidraw .App-menu_top__left,
.excalidraw .layer-ui__wrapper__top-right,
.excalidraw .App-toolbar__divider,
.excalidraw .App-toolbar__extra-tools-trigger,
.excalidraw .ToolIcon__lock,
.excalidraw .main-menu-trigger,
.excalidraw button[data-testid="toolbar-text"],
.excalidraw button[data-testid="toolbar-arrow"],
.excalidraw button[data-testid="toolbar-image"],
.excalidraw button[data-testid="toolbar-frame"],
.excalidraw button[data-testid="toolbar-hand--"],
.excalidraw button[data-testid="toolbar-freedraw"]:is(.ToolIcon--checked)+div,
.excalidraw button[data-testid="toolbar-selection"]:is(.ToolIcon--checked)+div,
.excalidraw .compact-action-item:has(.FontPicker__container),
.excalidraw .disable-view-mode {
    display: none !important;
}

.excalidraw .App-toolbar,
.excalidraw .color-picker__button,
.excalidraw .compact-action-button,
.excalidraw .App-toolbar .ToolIcon_type_toggle .ToolIcon__icon {
    --radius: 60px;
    border-radius: 60px !important;
}

.tool-buttons ion-button.page-active::part(native) {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: #e0dfff;
}

.tool-buttons ion-button {
    min-width: 36px !important;
    min-height: 36px !important;
}

ion-toolbar::part(background) {
    background: transparent;
}