/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
@import "tailwindcss";

ion-toolbar {
    --min-height: 48px !important;
    --ion-padding: 12px;
}

ion-card-content {
    -webkit-padding-start: 12px !important;
    padding-inline-start: 12px !important;
    -webkit-padding-end: 12px !important;
    padding-inline-end: 12px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.ion-color-success {
    --ion-color-success: #20B84F;
    --ion-color-success-shade: #1CA344;
    --ion-color-success-tint: #36C45F;
}